[loggers]
keys = root, spatial, sqlalchemy

[handlers]
keys = console , filelog, spatialfilelog

[formatters]
keys = generic, csv

[logger_root]
level = WARN
handlers = console, filelog

[logger_spatial]
level = INFO
handlers = spatialfilelog
qualname = spatial.logger

[logger_sqlalchemy]
level = WARN
handlers = console, filelog
qualname = sqlalchemy.engine
; "level = INFO" logs SQL queries.
; "level = DEBUG" logs SQL queries and results.
; "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = INFO
formatter = generic

[handler_filelog]
class = FileHandler
; Server user needs read and write privileges on this file
args = ('/path/to/access.log','a')
level = WARN
formatter = generic

[handler_spatialfilelog]
class = FileHandler
; Server user needs read and write privileges on this file
args = ('/path/to/spatial/access.csv','a')
level = INFO
formatter = csv

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

[formatter_csv]
format = %(created)f,%(message)s
